@{
    //Razor kodu içerisinde c# ile kod yazabilirsiniz.
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IlkHtmlSayfam</title>
</head>
<body>

    <h1>Merhaba İlk Html Sayfa</h1>

</body>
</html>
